body { 
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    text-align: center;
}

.modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 25%;
}

